.amount-controller{
    padding: 3px 10px;
    border-radius: 25px;
    border: 1px solid lightgrey;
    float: left;
}

.btn{
    border-radius:25px !important;
}
.add-btn{
    width: 100px;
}
.choose-food{
    height: 200px;
    width: 400px;
}
.choose-food .shape-img{
    padding: 10px;
    cursor: pointer;
}
.active-small-img{
    border: 1px solid lightgray;
    border-radius: 50%;
    box-shadow: 10px 5px 5px rgb(179, 47, 47);
}
.big-img{
    padding: 5px;
}